/* ------------------------------- PRIMARY COLORS ------------------------------- */
// Primary text color
$primary-dark: #1e1e1e; // Black

$primary-semi-light: #276afc; // Instock Indigo

$primary-light: #ffffff; // Pure white

/* ------------------------------- SECONDARY COLORS ------------------------------- */
$secondary-dark: #5c667e; // Slate

$secondary-light: #bdc5d5; // Cloud

/* ------------------------------- BACKGROUND COLORS ------------------------------- */
$background-dark: #181b2a; // Graphite

$background-light: #f7f8f9; // Light Grey

/* ------------------------------- SUPPORTING COLORS ------------------------------- */
$supporting-light: #eee9fd; //  Light

$supporting-semi-light: #7c3aed; // Purple
