/* ------------------------------- FONTS ------------------------------- */
/* Extra Light */
@font-face {
  font-family: "Myriad";
  src: url("../../assets/fonts/MYRIADPRO-LIGHT.otf") format("opentype");
  font-weight: 200;
}

/* Regular */
@font-face {
  font-family: "Myriad";
  src: url("../../assets/fonts/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-weight: 400;
}

/* Semi-Bold */
@font-face {
  font-family: "Myriad";
  src: url("../../assets/fonts/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: "Myriad";
  src: url("../../assets/fonts/MYRIADPRO-BOLD.OTF") format("opentype");
  font-weight: 700;
}
