/* ------------------------------- FONTS ------------------------------- */
/* Extra Light */
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/titillium-web-200.ttf") format("truetype");
  font-weight: 200;
}

/* Light */
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/titillium-web-300.ttf") format("truetype");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/titillium-web-400.ttf") format("truetype");
  font-weight: 400;
}

/* Semi-Bold */
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/titillium-web-600.ttf") format("truetype");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/titillium-web-700.ttf") format("truetype");
  font-weight: 700;
}

/* Black */
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/titillium-web-900.ttf") format("truetype");
  font-weight: 900;
}
