/* ------------------------------- LARGE DEVICE TYPOGRAPHY ------------------------------- */
@mixin header() {
  font-size: 2.1875rem;
  line-height: 2.5rem;
  font-weight: 700;
}

@mixin sub-header() {
  font-size: 0.875rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin main-body() {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 700;
}

@mixin home-main-body() {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
}

@mixin sub-button() {
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: 600;
}

@mixin small-button() {
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 600;
}
