/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.header {
  &__icon {
    position: absolute;
    left: 1.5rem;
  }

  &__logo {
    color: $primary-light;
    font-weight: 700;
    letter-spacing: 0.5rem;
  }
  &__bar {
    height: 1.8125rem;
    background-color: $primary-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__nav {
    &-menu {
      width: 10.4375rem;
      height: calc(100vh - 1.8125rem);
      background-color: $background-dark;
      display: flex;
      flex-direction: column;
      position: fixed;
    }
    &-item {
      display: flex;
      align-items: center;
      color: $primary-light;
      border-left: 3px solid $background-dark;
      padding: 0.7rem 1rem;
      &__container {
        width: 100%;
      }
      &--active {
        background-color: rgba(255, 255, 255, 0.2);
        border-left: 3px solid $primary-light;
      }
    }
  }
}





