/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;

.sidebar > * {
  cursor: pointer;
}

.sidebar {
  &-icon {
    width: 2rem;
  }

  &__item {
    margin-bottom: 1rem;
  }
  &__container {
    position: absolute;
    right: 0%;
    width: 12rem;
    background-color: $background-dark;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    color: $primary-light;
    font-size: 0.9375rem;
    padding-top: 3rem;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem 0.7rem 1.125rem;

    p {
      font-size: 1rem;
    }

    &-icon {
      width: 2rem;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1.5rem 0.7rem 1.125rem;
    gap: 1rem;
  }
}

.friends {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 0rem 1rem;

    &-icon {
      width: 2rem;
    }
  }
  &__listItem {
    display: flex;
    padding: 0.7rem 1.5rem 0.7rem 1.125rem;
    gap: 0.5rem;
    align-items: center;
  }
}

p {
  color: $primary-light;
  font-size: 0.9375rem;
}
