/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;




.main {
    background: #1D2033;
    padding: 0 11rem;
    display: inline-block;
    font-family: "Myriad";
    &__hero {
            width: 46.5rem;
            height: 24.8125rem;
            position: relative;
            display: flex;
            justify-content: right;
            text-align: right;
        }

    
&-top {
    position: relative;
    display: inline-block;
    width: 100%;


&__button-large {
    
 @include mx.btn-primary
    
}


&__button-small{

color: $primary-light;
    background-color: $primary-semi-light;
    border: 1px solid $primary-semi-light;
    border-radius: 0.375rem;
    transition: 0.2s ease;
    padding: 0.3rem 1rem;
    cursor: pointer;
}



&__hero {
    margin-right: 20px;
}

    &__image {
        width: 46.5rem;
        height: 24.8125rem;
        margin-left: 6.25rem;
    }

    &__box {
        width: 312px;
        margin-top: 6.875rem;
        color: #FFFFFF;
        position: absolute;
        top: 1.25rem;
        left:20px;

        &-header {
            color: #FFFFFF;
            font-size: 2.1875rem;
                line-height: 2.5rem;
                font-weight: 700; 
                font-family: "Myriad";
        }
        &-sub{
            color: #FFFFFF;
            margin: 1.5rem 0;
        }
        &-text {
            color: #FFFFFF;
            margin-bottom: .875rem;
            font-size: .875rem;
        }
    }


   &__search  {
    display: flex;
    flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  margin-left: 18px;
  margin-top: 1.3125rem;
  width: 92%;
  justify-content: space-between;

  &-image {
    position: absolute;
    left: 3.825rem;
    padding: .125rem;
  }
  
&-right {
    display: flex;
}
  &-arrow {
    margin-right: .375rem;
  }
&-placeholder {
    height: 1.375rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 3.75rem;
        background: #d7d5dd;
        border-radius: 5px;
        border: #9F9DA5;
        width: 13.25rem;
        margin-left: .8125rem;
}

   }
} 

&-bottom{
    display: flex;
    margin-top: 6.75rem;
    margin-bottom: 3.125rem;
    &__box {
        margin: 1rem 0 1rem 1rem;
        
        &-header, &-text{
            color: #FFFFFF;
        }
        &-header {
            margin: 1.5625rem 0;
            font-weight: 600;
        }
        &-text {
            font-size: 0.875rem;
        }
    }
}


}


::placeholder {
    color: #6b6a6d;
}