/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/typography" as tp;
@use "../../styles/partials/mixins" as mx;




.main {
    background: #181B2A;
    margin-left: 11rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;

}  
    
.main-top {
    &__hero {
        width: 46.5rem;
        height: 24.8125rem;
    }
}

.search {
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3.75rem;
}